/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }
  
  label,
  input[type="text"],
  input[type="email"],
  select {
    display: block;
  }
  
  input[type="text"],
  input[type="email"] {
    margin-bottom: 20px;
    width: calc(100% - 24px);
    padding: 9pt;
    box-sizing: border-box;
    font-size: 12pt;
    border: 1px solid #ccc;
    border-radius: 2px;
  }
  
  textarea {
    display: block;
    width: calc(100% - 24px);
    height: 90pt;
    padding: 9pt;
    box-sizing: border-box;
    font-size: 12pt;
    border: 1px solid #ccc;
    border-radius: 2px;
  }
  
  select {
    width: calc(100% - 24px);
    padding: 9pt;
    box-sizing: border-box;
    font-size: 12pt;
    border: 1px solid #ccc;
    border-radius: 2px;
  }
  
  h1 {
    font-size: 24pt;
    color: black;
  }
  
  h5 {
    color: red;
    font-size: x-large;
  }
  
  .container {
    max-width: 600px;
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 0 15pt rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .logo {
    width: 200px;
    margin-bottom: 20px;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .input-group label {
    flex: 1;
    margin-right: 10px;
    text-align: left;
  }
  
  .input-group input[type="text"],
  .input-group textarea,
  .input-group select {
    flex: 2;
    width: auto;
  }
  
  .radio-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .radio-group input[type="radio"] {
    margin-right: 10px;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    font-size: 18pt;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    width: 100%;
  }
  
  .footer {
    font-size: 9pt;
    color: #000;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .center {
    text-align: center;
  }

  b{
    
  }
  
  /* Responsive styles */
  @media screen and (max-width: 600px) {
    label,
    input[type="text"],
    input[type="email"],
    select,
    textarea {
      margin-bottom: 10px;
      font-size: 10.5pt;
    }
  
    h1 {
      font-size: 20px;
    }
  
    .container {
      padding: 10px;
    }
  
    .logo {
      width: 150px;
    }
  
    .footer {
      font-size: 10px;
    }
  
    input[type="submit"] {
      font-size: 16pt;
    }
  }
  
  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 15pt;
    }
  
    label {
      font-size: 16pt;
    }
  
    .container {
      padding: 10px;
    }
  
    .logo {
      width: 150px;
    }
  
    .footer {
      font-size: 10px;
    }
  
    input[type="submit"] {
      font-size: 16pt;
    }
  }